<form action="<%= post_comments_path(post) %>" method="post" >
    <div class="flex flex-col">
        <input type="hidden" name="authenticity_token" value="%= form_authenticity_token%>">
        <% if !parent.nil? %>
            <input type="hidden" name="comment[parent_id]" value="<%=parent.id%>">
        <%end%>

        <div class="flex gap-7">
            <input name="comment[content]" class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-3 w-full" placeholder="Write your comment"></textarea>
            <input type="submit" value="Submit" class="self-end rounded-lg py-2 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer">
        </div>
    </div>
</form>